.settings_page_uproc_email_validator .upfvp-card{
	background-image:url('../img/uproc_logo_298.jpg');
	background-repeat:no-repeat;
	background-position:right bottom;
	padding-bottom: 40px;
}

#upfvp-list span{
	float: right;
}

.upfvp-loading.settings_page_uproc_email_validator .upfvp-card{
	background-image:url('../img/uproc_logo_298_working.jpg');
}

.upfvp-loading-mail{
	background-image:url('../img/ajax-loader.gif') !important;
	background-repeat: no-repeat !important;
	background-position: center right !important;
}